// Abyssal Color Palette for Libadwaita
// A clean, minimal dark theme with blue accents

$blue_1: #5A9DFF;
$blue_2: #448FFF;
$blue_3: #448FFF;
$blue_4: #2F78E6;
$blue_5: #1E5CC8;

$green_1: #8BD5CA;
$green_2: #8BD5CA;
$green_3: #8BD5CA;
$green_4: #6BC4B6;
$green_5: #5BADA4;

$yellow_1: #FFE680;
$yellow_2: #FFD16D;
$yellow_3: #FFD16D;
$yellow_4: #E6B84D;
$yellow_5: #CC9D2B;

$orange_1: #FFD16D;
$orange_2: #FFD16D;
$orange_3: #F5A962;
$orange_4: #E69450;
$orange_5: #D68342;

$red_1: #F5A5B5;
$red_2: #F38BA8;
$red_3: #F38BA8;
$red_4: #E6768A;
$red_5: #D96278;

$purple_1: #C4B8E8;
$purple_2: #B8B1FF;
$purple_3: #B8B1FF;
$purple_4: #A59FFF;
$purple_5: #9293FF;

$brown_1: #B0A4A0;
$brown_2: #9D918D;
$brown_3: #8A7E7A;
$brown_4: #776C68;
$brown_5: #645A56;

// Abyssal Greys/Dark tones
$light_1: #D4D9EB;   // primary text
$light_2: #8F929E;   // secondary text
$light_3: #7F849C;   // tertiary text
$light_4: #6E7380;   // muted text
$light_5: #5A6070;   // disabled text

// Dark backgrounds
$dark_1: #3A3F47;    // dimmed
$dark_2: #2D3139;    // elevated
$dark_3: #1C272B;    // elevated border
$dark_4: #0C171B;    // elevated background
$dark_5: #061115;    // main background

// Sass thinks we're using the colors in the variables as strings and may shoot
// warning, it's innocuous and can be defeated by using #{$var}.

@define-color blue_1 #{$blue_1};
@define-color blue_2 #{$blue_2};
@define-color blue_3 #{$blue_3};
@define-color blue_4 #{$blue_4};
@define-color blue_5 #{$blue_5};
@define-color green_1 #{$green_1};
@define-color green_2 #{$green_2};
@define-color green_3 #{$green_3};
@define-color green_4 #{$green_4};
@define-color green_5 #{$green_5};
@define-color yellow_1 #{$yellow_1};
@define-color yellow_2 #{$yellow_2};
@define-color yellow_3 #{$yellow_3};
@define-color yellow_4 #{$yellow_4};
@define-color yellow_5 #{$yellow_5};
@define-color orange_1 #{$orange_1};
@define-color orange_2 #{$orange_2};
@define-color orange_3 #{$orange_3};
@define-color orange_4 #{$orange_4};
@define-color orange_5 #{$orange_5};
@define-color red_1 #{$red_1};
@define-color red_2 #{$red_2};
@define-color red_3 #{$red_3};
@define-color red_4 #{$red_4};
@define-color red_5 #{$red_5};
@define-color purple_1 #{$purple_1};
@define-color purple_2 #{$purple_2};
@define-color purple_3 #{$purple_3};
@define-color purple_4 #{$purple_4};
@define-color purple_5 #{$purple_5};
@define-color brown_1 #{$brown_1};
@define-color brown_2 #{$brown_2};
@define-color brown_3 #{$brown_3};
@define-color brown_4 #{$brown_4};
@define-color brown_5 #{$brown_5};
@define-color light_1 #{$light_1};
@define-color light_2 #{$light_2};
@define-color light_3 #{$light_3};
@define-color light_4 #{$light_4};
@define-color light_5 #{$light_5};
@define-color dark_1 #{$dark_1};
@define-color dark_2 #{$dark_2};
@define-color dark_3 #{$dark_3};
@define-color dark_4 #{$dark_4};
@define-color dark_5 #{$dark_5};
