$variant: 'dark';
$topbar: 'dark';

$red-light: #a4a4a4;
$red-dark: #a4a4a4;

$pink-light: #9b9b9b;
$pink-dark: #9b9b9b;

$purple-light: #9b9b9b;
$purple-dark: #9b9b9b;

$blue-light: #8d8d8d;
$blue-dark: #8d8d8d;

$teal-light: #b0b0b0;
$teal-dark: #b0b0b0;

$green-light: #b6b6b6;
$green-dark: #b6b6b6;

$yellow-light: #cecece;
$yellow-dark: #cecece;

$orange-light: #cecece;
$orange-dark: #cecece;

$grey-050: #ffffff;
$grey-100: #ffffff;
$grey-150: #b6b6b6;
$grey-200: #8d8d8d;
$grey-250: #2c2c2c;
$grey-300: #242424;
$grey-350: #1d1d1d;
$grey-400: #151515;
$grey-450: #151515;
$grey-500: #0d0d0d;
$grey-550: #0d0d0d;
$grey-600: #0d0d0d;
$grey-650: #0d0d0d;
$grey-700: #0d0d0d;
$grey-750: #0d0d0d;
$grey-800: #0d0d0d;
$grey-850: #0d0d0d;
$grey-900: #0d0d0d;
$grey-950: #0d0d0d;

$white: #ffffff;
$black: #0d0d0d;

$button-close: #a4a4a4;
$button-max: #8d8d8d;
$button-min: #cecece;

$links: #8d8d8d;

$default-light: #8d8d8d;
$default-dark: #8d8d8d;
