$variant: 'dark';
$topbar: 'dark';

$red-light: #f38ba8;
$red-dark: #f38ba8;

$pink-light: #f5c2e7;
$pink-dark: #f5c2e7;

$purple-light: #f5c2e7;
$purple-dark: #f5c2e7;

$blue-light: #89b4fa;
$blue-dark: #89b4fa;

$teal-light: #94e2d5;
$teal-dark: #94e2d5;

$green-light: #a6e3a1;
$green-dark: #a6e3a1;

$yellow-light: #f9e2af;
$yellow-dark: #f9e2af;

$orange-light: #f9e2af;
$orange-dark: #f9e2af;

$grey-050: #cdd6f4;
$grey-100: #cdd6f4;
$grey-150: #bac2de;
$grey-200: #a6adc8;
$grey-250: #6c7086;
$grey-300: #585b70;
$grey-350: #45475a;
$grey-400: #313244;
$grey-450: #313244;
$grey-500: #1e1e2e;
$grey-550: #1e1e2e;
$grey-600: #1e1e2e;
$grey-650: #1e1e2e;
$grey-700: #1e1e2e;
$grey-750: #1e1e2e;
$grey-800: #1e1e2e;
$grey-850: #1e1e2e;
$grey-900: #1e1e2e;
$grey-950: #1e1e2e;

$white: #cdd6f4;
$black: #1e1e2e;

$button-close: #f38ba8;
$button-max: #89b4fa;
$button-min: #f9e2af;

$links: #89b4fa;

$default-light: #89b4fa;
$default-dark: #89b4fa;
