$variant: 'dark';
$topbar: 'dark';

$red-light: #F38BA8;
$red-dark: #F38BA8;

$pink-light: #F5C2E7;
$pink-dark: #F5C2E7;

$purple-light: #CBA6F7;
$purple-dark: #CBA6F7;

$blue-light: #89B4FA;
$blue-dark: #89B4FA;

$teal-light: #94E2D5;
$teal-dark: #94E2D5;

$green-light: #A6E3A1;
$green-dark: #A6E3A1;

$yellow-light: #F9E2AF;
$yellow-dark: #F9E2AF;

$orange-light: #FAB387;
$orange-dark: #FAB387;

$grey-050: #CDD6F4;
$grey-100: #CDD6F4;
$grey-150: #BAC2DE;
$grey-200: #A6ADC8;
$grey-250: #9399B2;
$grey-300: #7F849C;
$grey-350: #6C7086;
$grey-400: #585B70;
$grey-450: #45475A;
$grey-500: #313244;
$grey-550: #2E2E42;
$grey-600: #252538;
$grey-650: #252538;
$grey-700: #1E1E2E;
$grey-750: #1E1E2E;
$grey-800: #1E1E2E;
$grey-850: #181825;
$grey-900: #11111B;
$grey-950: #0C0C14;

$white: #CDD6F4;
$black: #1E1E2E;

$button-close: #F38BA8;
$button-max: #89B4FA;
$button-min: #F9E2AF;

$links: #89B4FA;

$default-light: #89B4FA;
$default-dark: #89B4FA;
