$variant: 'dark';
$topbar: 'dark';

$red-light: #ED8796;
$red-dark: #ED8796;

$pink-light: #F5BDE6;
$pink-dark: #F5BDE6;

$purple-light: #C6A0F6;
$purple-dark: #C6A0F6;

$blue-light: #8AADF4;
$blue-dark: #8AADF4;

$teal-light: #8BD5CA;
$teal-dark: #8BD5CA;

$green-light: #A6DA95;
$green-dark: #A6DA95;

$yellow-light: #EED49F;
$yellow-dark: #EED49F;

$orange-light: #F5A97F;
$orange-dark: #F5A97F;

$grey-050: #CAD3F5;
$grey-100: #CAD3F5;
$grey-150: #B8C0E0;
$grey-200: #A5ADCB;
$grey-250: #939AB7;
$grey-300: #8087A2;
$grey-350: #6E758D;
$grey-400: #5B6278;
$grey-450: #494F63;
$grey-500: #363B4D;
$grey-550: #2C3040;
$grey-600: #24273A;
$grey-650: #24273A;
$grey-700: #24273A;
$grey-750: #1E2030;
$grey-800: #1E2030;
$grey-850: #181926;
$grey-900: #14151F;
$grey-950: #101018;

$white: #CAD3F5;
$black: #24273A;

$button-close: #ED8796;
$button-max: #8AADF4;
$button-min: #EED49F;

$links: #8AADF4;

$default-light: #8AADF4;
$default-dark: #8AADF4;
