$variant: 'dark';
$topbar: 'dark';

$red-light: #E78284;
$red-dark: #E78284;

$pink-light: #F4B8E4;
$pink-dark: #F4B8E4;

$purple-light: #CA9EE6;
$purple-dark: #CA9EE6;

$blue-light: #8CAAEE;
$blue-dark: #8CAAEE;

$teal-light: #81C8BE;
$teal-dark: #81C8BE;

$green-light: #A6D189;
$green-dark: #A6D189;

$yellow-light: #E5C890;
$yellow-dark: #E5C890;

$orange-light: #EF9F76;
$orange-dark: #EF9F76;

$grey-050: #C6D0F5;
$grey-100: #C6D0F5;
$grey-150: #B5BFE2;
$grey-200: #A5ADCE;
$grey-250: #949CBB;
$grey-300: #838BA7;
$grey-350: #737994;
$grey-400: #626880;
$grey-450: #51576D;
$grey-500: #414559;
$grey-550: #303446;
$grey-600: #303446;
$grey-650: #303446;
$grey-700: #303446;
$grey-750: #292C3C;
$grey-800: #292C3C;
$grey-850: #232634;
$grey-900: #1E2030;
$grey-950: #181926;

$white: #C6D0F5;
$black: #303446;

$button-close: #E78284;
$button-max: #8CAAEE;
$button-min: #E5C890;

$links: #8CAAEE;

$default-light: #8CAAEE;
$default-dark: #8CAAEE;
