$variant: 'light';
$topbar: 'light';


$red-light: #D20F39;
$red-dark: #D20F39;

$pink-light: #EA76CB;
$pink-dark: #EA76CB;

$purple-light: #8839EF;
$purple-dark: #8839EF;

$blue-light: #1E66F5;
$blue-dark: #1E66F5;

$teal-light: #179299;
$teal-dark: #179299;

$green-light: #40A02B;
$green-dark: #40A02B;

$yellow-light: #DF8E1D;
$yellow-dark: #DF8E1D;

$orange-light: #FE640B;
$orange-dark: #FE640B;

$grey-050: #FFFFFF;
$grey-100: #F5F6FA;
$grey-150: #EFF1F5;
$grey-200: #E6E9EF;
$grey-250: #DCE0E8;
$grey-300: #CCD0DA;
$grey-350: #BCC0CC;
$grey-400: #ACB0BE;
$grey-450: #9CA0B0;
$grey-500: #8C8FA1;
$grey-550: #7C7F93;
$grey-600: #6C6F85;
$grey-650: #5C5F77;
$grey-700: #4C4F69;
$grey-750: #3B3E57;
$grey-800: #2C2F40;
$grey-850: #1E2030;
$grey-900: #11111B;
$grey-950: #0B0C12;

$white: #FFFFFF;
$black: #1E1E2E;

$button-close: #D20F39;
$button-max: #1E66F5;
$button-min: #DF8E1D;

$links: #1E66F5;

$default-light: #1E66F5;
$default-dark: #1E66F5;
