$variant: 'dark';
$topbar: 'dark';

// Dracula Dark

$red-light: #FF5555;
$red-dark: #FF5555;

$pink-light: #FF79C6;
$pink-dark: #FF79C6;

$purple-light: #BD93F9;
$purple-dark: #BD93F9;

$blue-light: #8BE9FD;
$blue-dark: #8BE9FD;

$teal-light: #50FA7B;
$teal-dark: #50FA7B;

$green-light: #50FA7B;
$green-dark: #50FA7B;

$yellow-light: #F1FA8C;
$yellow-dark: #F1FA8C;

$orange-light: #FFB86C;
$orange-dark: #FFB86C;

$grey-050: #F8F8F2;
$grey-100: #F8F8F2;
$grey-150: #EDEDED;
$grey-200: #DADADA;
$grey-250: #C4C4C4;
$grey-300: #B0B0B0;
$grey-350: #9E9E9E;
$grey-400: #7F849C;
$grey-450: #6272A4;
$grey-500: #44475A;
$grey-550: #3A3C4E;
$grey-600: #303242;
$grey-650: #303242;
$grey-700: #282A36;
$grey-750: #282A36;
$grey-800: #282A36;
$grey-850: #1E1F29;
$grey-900: #181920;
$grey-950: #111217;

$white: #F8F8F2;
$black: #282A36;

$button-close: #FF5555;
$button-max: #8BE9FD;
$button-min: #F1FA8C;

$links: #8BE9FD;

$default-light: #BD93F9;
$default-dark: #BD93F9;
