$variant: 'light';
$topbar: 'light';

$red-light: #2a2a2a;
$red-dark: #2a2a2a;

$pink-light: #2e2e2e;
$pink-dark: #2e2e2e;

$purple-light: #2e2e2e;
$purple-dark: #2e2e2e;

$blue-light: #1a1a1a;
$blue-dark: #1a1a1a;

$teal-light: #3e3e3e;
$teal-dark: #3e3e3e;

$green-light: #3a3a3a;
$green-dark: #3a3a3a;

$yellow-light: #4a4a4a;
$yellow-dark: #4a4a4a;

$orange-light: #4a4a4a;
$orange-dark: #4a4a4a;

$grey-050: #000000;
$grey-100: #000000;
$grey-150: #2a2a2a;
$grey-200: #4a4a4a;
$grey-250: #c0c0c0;
$grey-300: #d0d0d0;
$grey-350: #e0e0e0;
$grey-400: #f2f2f2;
$grey-450: #f2f2f2;
$grey-500: #ffffff;
$grey-550: #ffffff;
$grey-600: #ffffff;
$grey-650: #ffffff;
$grey-700: #ffffff;
$grey-750: #ffffff;
$grey-800: #ffffff;
$grey-850: #ffffff;
$grey-900: #ffffff;
$grey-950: #ffffff;

$white: #ffffff;
$black: #000000;

$button-close: #2a2a2a;
$button-max: #1a1a1a;
$button-min: #4a4a4a;

$links: #6e6e6e;

$default-light: #6e6e6e;
$default-dark: #6e6e6e;
