$variant: 'dark';
$topbar: 'dark';

// Everforest Dark

$red-light: #E67E80;
$red-dark: #E67E80;

$pink-light: #D699B6;
$pink-dark: #D699B6;

$purple-light: #D699B6;
$purple-dark: #D699B6;

$blue-light: #7FBBB3;
$blue-dark: #7FBBB3;

$teal-light: #83C092;
$teal-dark: #83C092;

$green-light: #A7C080;
$green-dark: #A7C080;

$yellow-light: #DBBC7F;
$yellow-dark: #DBBC7F;

$orange-light: #E69875;
$orange-dark: #E69875;

$grey-050: #D3C6AA;
$grey-100: #D3C6AA;
$grey-150: #BDAE93;
$grey-200: #AFA18E;
$grey-250: #9DA9A0;
$grey-300: #859289;
$grey-350: #6F7B72;
$grey-400: #5C6A72;
$grey-450: #4F5B58;
$grey-500: #424E53;
$grey-550: #3A454A;
$grey-600: #323C41;
$grey-650: #323C41;
$grey-700: #2B3339;
$grey-750: #2B3339;
$grey-800: #2B3339;
$grey-850: #232A2E;
$grey-900: #1E2326;
$grey-950: #1A1F22;

$white: #D3C6AA;
$black: #2B3339;

$button-close: #E67E80;
$button-max: #7FBBB3;
$button-min: #DBBC7F;

$links: #7FBBB3;

$default-light: #7FBBB3;
$default-dark: #7FBBB3;
