$variant: 'dark';
$topbar: 'dark';

$red-light: #FB4934;
$red-dark: #FB4934;

$pink-light: #D3869B;
$pink-dark: #D3869B;

$purple-light: #D3869B;
$purple-dark: #D3869B;

$blue-light: #83A598;
$blue-dark: #83A598;

$teal-light: #8EC07C;
$teal-dark: #8EC07C;

$green-light: #B8BB26;
$green-dark: #B8BB26;

$yellow-light: #FABD2F;
$yellow-dark: #FABD2F;

$orange-light: #FE8019;
$orange-dark: #FE8019;

$grey-050: #EBDBB2;
$grey-100: #EBDBB2;
$grey-150: #D5C4A1;
$grey-200: #BDAE93;
$grey-250: #A89984;
$grey-300: #928374;
$grey-350: #7C6F64;
$grey-400: #665C54;
$grey-450: #504945;
$grey-500: #3C3836;
$grey-550: #32302F;
$grey-600: #282828;
$grey-650: #282828;
$grey-700: #282828;
$grey-750: #1D2021;
$grey-800: #1D2021;
$grey-850: #1A1C1D;
$grey-900: #161819;
$grey-950: #121314;

$white: #EBDBB2;
$black: #282828;

$button-close: #FB4934;
$button-max: #83A598;
$button-min: #FABD2F;

$links: #83A598;

$default-light: #83A598;
$default-dark: #83A598;
