$variant: 'dark';
$topbar: 'dark';

$red-light: #BF616A;
$red-dark: #BF616A;

$pink-light: #B48EAD;
$pink-dark: #B48EAD;

$purple-light: #B48EAD;
$purple-dark: #B48EAD;

$blue-light: #88C0D0;
$blue-dark: #88C0D0;

$teal-light: #8FBCBB;
$teal-dark: #8FBCBB;

$green-light: #A3BE8C;
$green-dark: #A3BE8C;

$yellow-light: #EBCB8B;
$yellow-dark: #EBCB8B;

$orange-light: #D08770;
$orange-dark: #D08770;

$grey-050: #ECEFF4;
$grey-100: #E5E9F0;
$grey-150: #D8DEE9;
$grey-200: #D8DEE9;
$grey-250: #C8D0E0;
$grey-300: #BFC7D5;
$grey-350: #AAB3C2;
$grey-400: #9AA3B2;
$grey-450: #7B8798;
$grey-500: #4C566A;
$grey-550: #434C5E;
$grey-600: #3B4252;
$grey-650: #3B4252;
$grey-700: #2E3440;
$grey-750: #2E3440;
$grey-800: #2E3440;
$grey-850: #242933;
$grey-900: #1E222A;
$grey-950: #1B1F27;

$white: #ECEFF4;
$black: #2E3440;

$button-close: #BF616A;
$button-max: #88C0D0;
$button-min: #EBCB8B;

$links: #88C0D0;

$default-light: #88C0D0;
$default-dark: #88C0D0;
