$variant: 'dark';
$topbar: 'dark';

$red-light: #F7768E;
$red-dark: #F7768E;

$pink-light: #BB9AF7;
$pink-dark: #BB9AF7;

$purple-light: #BB9AF7;
$purple-dark: #BB9AF7;

$blue-light: #7AA2F7;
$blue-dark: #7AA2F7;

$teal-light: #73DACA;
$teal-dark: #73DACA;

$green-light: #9ECE6A;
$green-dark: #9ECE6A;

$yellow-light: #E0AF68;
$yellow-dark: #E0AF68;

$orange-light: #FF9E64;
$orange-dark: #FF9E64;

$grey-050: #C0CAF5;
$grey-100: #C0CAF5;
$grey-150: #A9B1D6;
$grey-200: #9AA5CE;
$grey-250: #7F8DB3;
$grey-300: #6C7EA5;
$grey-350: #565F89;
$grey-400: #414868;
$grey-450: #3B4261;
$grey-500: #2F3549;
$grey-550: #24283B;
$grey-600: #1F2335;
$grey-650: #1F2335;
$grey-700: #1A1B26;
$grey-750: #16161E;
$grey-800: #16161E;
$grey-850: #12121A;
$grey-900: #0F0F14;
$grey-950: #0B0B10;

$white: #C0CAF5;
$black: #1A1B26;

$button-close: #F7768E;
$button-max: #7AA2F7;
$button-min: #E0AF68;

$links: #7AA2F7;

$default-light: #7AA2F7;
$default-dark: #7AA2F7;
